<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="my-4">
          {% if user.is_authenticated %}
          <a href="{% url 'user:account-detail' user.pk %}" class="navbar-brand d-flex align-items-center"><h4>Профиль</h4></a>
          <ul class="list-unstyled">
            <li><a href="{% url 'coursework:client_list' %}" class="text-white">Клиенты</a></li>
            <li><a href="{% url 'coursework:message_list' %}" class="text-white">Сообщения</a></li>
            <li><a href="{% url 'coursework:mailing_list' %}" class="text-white">Рассылки</a></li>
            <li><a href="{% url 'user:logout' %}" class="text-white">Выйти</a></li>
          </ul>
          {% else %}
          <p class="text-body-secondary my-4">Для доступа к меню авторизуйтесь или пройдите процедуру регистрации</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="navbar-brand d-flex align-items-center">
        <strong>Меню</strong>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
