{% extends 'coursework/base.html' %}
{% block content %}
<a class="btn btn-outline-primary my-4 mx-4" href="{% url 'coursework:client_create' %}">Добавить клиента</a>
<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for client in object_list %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                {{ client.name }}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <p><strong>{{ client.email }}</strong> </p>
                {% if client.comment %}
                <p>{{ client.comment }}</p>
                {% else %}
                <p>Комментарии отсутствуют</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}