{% extends 'coursework/base.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-outline-primary my-4 mx-4" href="{% url 'coursework:message_create' %}">Создать сообщение</a>
<table class="table text-center m-4">
  <thead>
    <tr>
      <th scope="col">Тема письма</th>
      <th scope="col">Содержание</th>
    </tr>
  </thead>
  <tbody>
  {% for message in object_list %}
    <tr>
      <td><a href="{% url 'coursework:message_detail' message.pk %}">{{ message.subject }}</a></td>
      <td>{{ message.body|slice_description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

